@model PersonalTrainerPortal.Models.ManageWorkoutViewModel
@{
    ViewBag.Title = "Workout";
}


<div ng-app="WorkoutModule">
    <div ng-controller="WorkoutController">
        <div class="container_styled_1">
            <div class="container margin_100_35">
                <div class="col-md-12">
                    <div class="profile">
                        <p class="text-center"><img src="/Content/img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled_2"></p>
                        <ul class="social_teacher">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class=" icon-google"></i></a></li>
                        </ul>
                        <ul>
                            <li>Name <strong class="pull-right">@Model.ClientFirstName @Model.ClientLastName</strong> </li>
                            <li>Email <strong class="pull-right">@Model.ClientEmail</strong></li>
                            <li>Telephone  <strong class="pull-right">@Model.ClientPhoneNumber</strong></li>
                            <li>Height <strong class="pull-right"></strong></li>
                            <li>Weight <strong class="pull-right"></strong></li>
                            <li>Fitness Goals <strong class="pull-right"></strong></li>
                            <!--<li>Lessons <strong class="pull-right">12</strong></li>
                            <li>Courses <strong class="pull-right">15</strong></li>-->
                        </ul>

                    </div>

                </div>
            </div>
            <hr />

            <div class="container margin_30">
                <div class="row">
                    <aside class="col-md-4" id="sidebar">
                        <div class="col-md-12">
                            <div class="box_style_6">
                                <hr class="styled_2">
                                <div>
                                    <h3>My Exercises</h3>
                                </div>
                                <div class="menu-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>
                                                    Title
                                                </th>
                                            </tr>

                                            <tr ng-repeat="exercise in evmList">
                                                <td>
                                                    {{exercise.ExerciseTitle}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div><!--wrapper_indent -->

                            </div>
                        </div>
                    </aside>
                    <div class="col-md-8">
                        <div class="box_style_6">
                            <hr class="styled_2">
                            <div class="fc-title">
                                <h3>Workout Calendar</h3>
                            </div>
                            <div ng-controller="CalendarController">
                                <div id='calendar' ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources">

                                </div>

                            </div>
                        </div><!--wrapper_indent -->

                    </div>
                </div>

            </div><!--End row -->
        </div><!--End container -->
    </div>
</div>
</div>